.cartitem {
    display: flex;
    margin: 20px;
    box-sizing: border-box;
    width: 90%;
    border-bottom: 1px solid rgb(233, 228, 228);
}

.cartitem__info {
    padding-left: 20px;
    
}

.cartitem__info > button { 
    background-color: rgb(255, 191, 72);
    border: 1px solid black;
    margin-top: 20px; 
    margin-bottom: 20px;
    color: #111;
    border-radius: 3px;
}
.cartitem__info > button:hover{
    cursor: pointer;
    background-color: rgb(245, 176, 48);
}
.cartitem__info > button:active{
    background-color: rgb(255, 191, 72);
}

.cartitem__image {
    object-fit: contain;
    /* width: 150px; */
    height: 180px;
    min-width: 150px;
    max-width:150px ;
  }

.cartitem__rating {
    display: flex;
    flex-direction: row;
  }

.cartitem__title {
    font-size: 15px;
    font-weight: 600;
}

@media(max-width:380px){
    .cartitem__info button{
      width:120px;
      font-size: 10px;
     
    }
  }
  @media(max-width:450px){
    .cartitem{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .cartitem__info{      
      margin: 10px;
    }
    .cartitem__info button{
    margin: 10px auto;
    display: block;
    }
  }